<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @resources.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>


<% if admin_signed_in? %>
  <%= link_to "New #{@resource_class.model_name.human}",
              eval(["new", "backoffice", @resource_class.model_name.singular, "path"].join("_")),
              class: "btn btn-sm btn-dark" %>

<% end %>