<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @resources.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>
